@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf")
}

* {
    box-sizing: border-box;
}


h1 {
    font-size: 44px;
    font-family: "Montserrat-Bold";
    text-align: center;
    line-height: 140%;
    width: 506px;
    margin: auto;
    max-width: 928px;
    color: #363636;
}

h2 {
    font-size: 44px;
    font-family: "Montserrat-Bold";
    text-align: center;
    line-height: 140%;
    width: 506px;
    margin: auto;
    max-width: 928px;
    color: #363636;
}

h3 {
    font-size: 27px;
    line-height: 140%;
    font-family: "Montserrat-Bold";
    color: #363636;
    text-align: left;
    

}


h4 {
    font-size: 20px;
    font-family: "Montserrat-Bold";
    line-height: 140%;
    color: #363636;
    text-align: center;
    margin: auto;
    max-width: 928px;
    padding-left: 64px;
    padding-top: 32px;
}

h5 {
    font-size: 13px;
    font-family: "Montserrat-Regular";
    color: #363636;
    text-align: center;
    margin: auto;
}

p{
    font-size: 16px;
    font-family: "Montserrat-Regular";
    text-align: center;
    line-height: 140%;
    width: 662px;
    color: #363636;
    margin: auto;
    max-width: 928px;
    padding-top: 32px;
}

span {
    font-size: 20px;
    color: #868686;
    font-family: "Montserrat-Regular";

}
button {
    font-size: 18px;
    font-family: "Montserrat-Bold";
    background-color: white;
    color: #6D5DA8;
    outline: none;
    border-radius: 20px;
    border: 1px solid #6D5DA8 ;
    height: 40px;
    padding-right: 16px;
    padding-left: 16px;
    
}

button:hover {
    cursor: pointer;
    color: #AA9DDB;
    border: 1px solid #AA9DDB;

}

a {
    text-decoration: none;
    color: #6D5DA8;
}
a:hover {
    color: #AA9DDB;
  }

img {
    width: 100%;
}

svg {
    fill: #6D5DA8;
}

svg :hover {
    fill: #AA9DDB;
}

/*Nav bar*/

.main-header {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
    
  }

  .main-header__wrapper {
    height: 70px;  
    max-width: 928px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    font-family: "Montserrat-Regular";
   
  }
  
  .main-nav__ul {
    display: flex;
    align-items: center;
    padding: 0;
  }
  
  .main-nav__item {
    font-size: .9rem;
    color: #6D5DA8;
    cursor: pointer;
    transition: all 0.2s ease-out;
    list-style: none;
  }

  .main-nav__item:hover {
    color: #AA9DDB;
  }
  .main-nav__item:not(first-child) {
    margin-left: 24px;
  }
  
  .mobile-menu-button {
    display: none;
    cursor: pointer;
  }
  .mobile-menu-button span {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 2px;
    margin-bottom: 6px;
    background: #262626;
    transition: all 0.4s ease-out;
  }
  
  .mobile-menu-button.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .mobile-menu-button.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
  .mobile-menu-button.active span:nth-child(2) {
    opacity: 0;
  }

  li {
      list-style-type: none;
  }
  

  /*Intro*/

  #intro-case {
    display:flex;
    padding-top: 120px ;
    padding-left: 100px;
    background-image: url(../img/festivalia-case1.png);
    flex-direction: column;

    


  }

  #intro-case img {

    width: 30% ;


  }
